In [23]:
import pandas as pd
import numpy as np

# Chargement

In [24]:
# Chargement du jeux de données
df = pd.read_csv('/content/Données clients - Feuille 1.csv')
# df = pd.read_csv('/content/données entreprise - Feuille 1.csv')

In [25]:
df.head()

,ID_Client,âge,genre,type de voyage,destination,saison de voyage,durée de voyage (en jours),nombre de personnes,prix total,mode de paiement,évaluation sur 5,date de début de voyage,date de fin de voyage,période de voyage,budget_voyage_annuel
0,1,32,M,Culturel,NaN,été,10,2,4425,Virement,3,07-12-2023,09-12-2023,07-12-2023 au 09-12-2023,6407
1,2,38,Autre,détente,Népal,printemps,11,1,5743,Carte de crédit,2,01-09-2023,03-09-2023,01-09-2023 au 03-09-2023,4226
2,3,39,Autre,détente,Norvège,hiver,15,2,9565,Virement,3,22-02-2024,23-02-2024,22-02-2024 au 23-02-2024,5144
3,4,49,Autre,Aventure,Japon,printemps,16,2,9833,Virement,2,31-08-2023,03-09-2023,31-08-2023 au 03-09-2023,4307
4,5,23,M,Aventure,Islande,été,8,4,2358,Paypal,3,29-08-2023,01-09-2023,29-08-2023 au 01-09-2023,4348

In [26]:
df.dtypes

ID_Client                      int64
âge                            int64
genre                         object
type de voyage                object
destination                   object
saison de voyage              object
durée de voyage (en jours)     int64
nombre de personnes            int64
prix total                     int64
mode de paiement              object
évaluation sur 5               int64
date de début de voyage       object
date de fin de voyage         object
période de voyage             object
budget_voyage_annuel           int64
dtype: object

# Les doublons

In [27]:
# Visualisation
df[df.duplicated()]

,ID_Client,âge,genre,type de voyage,destination,saison de voyage,durée de voyage (en jours),nombre de personnes,prix total,mode de paiement,évaluation sur 5,date de début de voyage,date de fin de voyage,période de voyage,budget_voyage_annuel
16,16,22,M,Culturel,Norvège,hiver,5,4,128,Virement,4,15-11-2023,16-11-2023,15-11-2023 au 16-11-2023,2772

In [28]:
# Compter les doublons
df.duplicated().sum()

1

In [29]:
# Supprimer les doublons
df.drop_duplicates(inplace=True)

In [30]:
# Check
df.duplicated().sum()

0

# Les outliers

In [31]:
# Colonnes quantitative
quanti_col = ["âge", "durée de voyage (en jours)",	"nombre de personnes",	"prix total", "évaluation sur 5", "budget_voyage_annuel", "durée moyenne de voyage annuelle (en jours)"]
# quanti_col = ["Nombre_de_Clients", "Revenu_des_Ventes", "Depenses_Publicitaires", "Nombre_de_Reservations"]

In [32]:
# Méthode de détection par la distance interquartile.
def detect_outliers(df, feature):
  Q1 = df[feature].quantile(0.25)
  Q3 = df[feature].quantile(0.75)
  IQR = Q3 - Q1

  return (df[feature] < (Q1 - 2 * IQR)) | (df[feature] > (Q3 + 2 * IQR))

In [33]:
df[detect_outliers(df, "âge")]
# df[detect_outliers(df, "Nombre_de_Clients")]

,ID_Client,âge,genre,type de voyage,destination,saison de voyage,durée de voyage (en jours),nombre de personnes,prix total,mode de paiement,évaluation sur 5,date de début de voyage,date de fin de voyage,période de voyage,budget_voyage_annuel
36,36,350,Autre,Détente,Bali,hiver,6,3,906,Virement,4,12-08-2023,16-08-2023,12-08-2023 au 16-08-2023,5351
51,51,220,M,Culturel,France,été,13,4,8099,Virement,3,12-06-2023,16-06-2023,12-06-2023 au 16-06-2023,4065
76,76,4100,Autre,Détente,Japon,hiver,14,1,9063,Paypal,3,22-05-2023,23-05-2023,22-05-2023 au 23-05-2023,7692

In [34]:
# Supprimer les outliers
for col in quanti_col:
  if col in df.columns:
    df = df[~detect_outliers(df, col)]

In [35]:
# Vérification
# df[detect_outliers(df, "âge")]

In [36]:
# On pourrait préférer remplacer les outliers par des valeurs manquantes
# for col in quanti_col:
#   if col in df.columns:
#     df.loc[detect_outliers(df, col), col] = np.nan

# Valeurs manquantes

In [37]:
# On compte
df.isnull().sum()

ID_Client                       0
âge                             0
genre                         164
type de voyage                125
destination                     5
saison de voyage                0
durée de voyage (en jours)      0
nombre de personnes             0
prix total                      0
mode de paiement              152
évaluation sur 5                0
date de début de voyage         2
date de fin de voyage           2
période de voyage               2
budget_voyage_annuel            0
dtype: int64

In [38]:
# On visualise
df[df.isnull().any(axis=1)]

,ID_Client,âge,genre,type de voyage,destination,saison de voyage,durée de voyage (en jours),nombre de personnes,prix total,mode de paiement,évaluation sur 5,date de début de voyage,date de fin de voyage,période de voyage,budget_voyage_annuel
0,1,32,M,Culturel,NaN,été,10,2,4425,Virement,3,07-12-2023,09-12-2023,07-12-2023 au 09-12-2023,6407
6,7,33,Autre,culturel,Népal,hiver,5,4,105,NaN,3,19-05-2023,22-05-2023,19-05-2023 au 22-05-2023,5333
9,10,34,M,NaN,Japon,hiver,10,3,4459,Paypal,1,13-06-2023,16-06-2023,13-06-2023 au 16-06-2023,3658
22,22,45,M,Détente,Bali,hiver,8,1,2383,NaN,1,18-01-2024,21-01-2024,18-01-2024 au 21-01-2024,7114
30,30,37,Autre,détente,NaN,automne,8,1,2387,Virement,2,03-08-2023,04-08-2023,03-08-2023 au 04-08-2023,4577
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
792,790,18,F,NaN,Brésil,été,15,4,9796,Virement,3,13-04-2024,13-05-2024,13-04-2024 au 13-05-2024,618
794,792,30,M,NaN,Maroc,printemps,7,2,2339,Virement,2,11-07-2024,21-07-2024,11-07-2024 au 21-07-2024,6356
795,793,38,NaN,NaN,Népal,été,7,2,2348,Virement,2,15-03-2025,27-03-2025,15-03-2025 au 27-03-2025,1456
799,797,24,NaN,aventure,Islande,hiver,10,5,5736,Virement,3,14-04-2024,11-05-2024,14-04-2024 au 11-05-2024,5031
800,798,46,Autre,NaN,France,été,7,4,2349,Carte de crédit,2,22-11-2024,20-12-2024,22-11-2024 au 20-12-2024,3908

In [39]:
# On remplace par la médiane
values = {
    c: df[c].median() if df[c].dtype != 'object' else df[c].mode()[0] for c in df.columns
}
df.fillna(value=values, inplace=True)

In [40]:
values

{'ID_Client': 400.0,
 'âge': 34.0,
 'genre': 'Autre',
 'type de voyage': 'Culturel',
 'destination': 'Bali',
 'saison de voyage': 'été',
 'durée de voyage (en jours)': 10.0,
 'nombre de personnes': 3.0,
 'prix total': 4425.0,
 'mode de paiement': 'Virement',
 'évaluation sur 5': 2.0,
 'date de début de voyage': '01-07-2024',
 'date de fin de voyage': '02-07-2024',
 'période de voyage': '16-08-2023 au 19-08-2023',
 'budget_voyage_annuel': 5115.0}

In [41]:
# On check
df.isnull().sum()

ID_Client                     0
âge                           0
genre                         0
type de voyage                0
destination                   0
saison de voyage              0
durée de voyage (en jours)    0
nombre de personnes           0
prix total                    0
mode de paiement              0
évaluation sur 5              0
date de début de voyage       0
date de fin de voyage         0
période de voyage             0
budget_voyage_annuel          0
dtype: int64

# Agregation

In [43]:
# On veut la moyenne de la colonne âge pour chaque type de voyage.
df.groupby('type de voyage')["âge"].mean()

type de voyage
Aventure    35.401575
Culturel    33.644531
Détente     34.617647
aventure    34.342857
culturel    33.972222
détente     35.070707
Name: âge, dtype: float64

In [44]:
# En corrigeant les erreurs de typo
df["type de voyage"] = df["type de voyage"].str.lower()

In [45]:
df.groupby('type de voyage')["âge"].mean()

type de voyage
aventure    34.922414
culturel    33.741758
détente     34.840796
Name: âge, dtype: float64

In [46]:
# On sauvegarde
df.to_csv('/content/Données clients - Feuille 1_nettoyées.csv', index=False)
# df.to_csv('/content/données entreprise - Feuille 1_nettoyées.csv', index=False)